*.bit
*.fst
*.gtkw
*.log
*.ltx
*.pyc
*.tar.gz
*.xsa
.*.swp
.Xil
.fuse*
.nfs*
a.out
bak
results.xml
ilaauto.tcl
ilaauto.vh
lbread.vh
lbwrite.vh
otherrepo
vims
vivado*.debug
vivado*.jou
vivado*.log
vivado*.str
vivado*.zip
vivado_project
vivado_project_sim
webtalk*.jou
webtalk*.log
**/gensrc
**/build*
**/sim
**/sim_build
